/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

@theme {
  --font-sans:
    "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Noto Sans JP", meiryo, sans-serif;
  --font-serif:
    "Times New Roman", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  --font-mono: consolas, "Courier New", "BIZ UDGothic", monospace;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  main {
    @apply mx-auto max-w-full;

    width: calc(100% - 2em);
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply mt-5 border-2 border-l-8 border-solid border-yellow-600 p-3 text-2xl font-bold;
  }

  /* ヘッダーのロゴ部分 */
  nav h2 {
    @apply border-none;
  }

  h3 {
    @apply mt-4 border-l-8 border-solid border-yellow-300 pl-3 text-2xl font-bold;
  }

  h4 {
    @apply mt-3 text-2xl font-bold;
  }

  h5 {
    @apply mt-2 text-xl font-bold;
  }

  h6 {
    @apply mt-1 text-lg font-bold;
  }

  p {
    @apply mt-1;
  }

  a {
    @apply text-blue-700;
  }

  /* ブログ一覧の記事タイトル */
  a:has(h4) {
    @apply text-inherit;
  }

  img {
    @apply mt-1;
  }

  ul {
    @apply mt-1 list-disc pl-5;
  }

  ol {
    @apply mt-1 list-decimal pl-5;
  }

  pre {
    @apply mt-1 p-3 font-mono;
  }

  code {
    @apply rounded bg-gray-200 px-1 font-mono;
  }

  pre code {
    all: unset;
  }
}

@layer components {
  astro-breadcrumbs {
    @apply mx-auto my-5 block;

    width: calc(100% - 2em);
  }
}

@layer utilities {
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }

  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }

  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }

  .title h1 {
    margin: 0 0 0.5em;
  }

  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }

  .last-updated-on {
    font-style: italic;
  }

  .prose img {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  /* スクリーンリーダー用のスタイル（テンプレート流用） */
  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);

    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);

    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);

    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
  }
}
