---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="私について"
  description="Webエンジニア志望の元マーケターの自己紹介ページです。"
  pubDate={new Date("April 23 2025")}
  heroImage="/about-hero-image.avif"
>
  <h2>🎯 このサイトの目的</h2>
  <p>自身の学びを記録し公開するために作成しました。</p>

  <h2>🧑‍💻 肩書き</h2>
  <p>Webエンジニア志望の元マーケターです。</p>

  <h2>🛠 学習中の技術</h2>
  <ul>
    <li>TypeScript</li>
    <li>React</li>
  </ul>

  <h2>🚀 今チャレンジしていること</h2>
  <ul>
    <li>ウェブアプリの作成に取り組んでいます。</li>
    <li>職業訓練の面接準備を実施中です。</li>
    <li>基本情報技術者試験の勉強を行っています。</li>
  </ul>

  <h2>🌱 将来的なビジョン</h2>
  <p>
    まずはフロントエンドエンジニアとして経験を積み、中長期的にはフルスタックエンジニアを目指しています。
  </p>

  <h2>🎮 趣味</h2>
  <ul>
    <li>ゲーム</li>
    <li>マンガ</li>
    <li>洋画</li>
    <li>海外ドラマ</li>
    <li>自作PC</li>
  </ul>
</Layout>
