---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IndexCard from "../components/IndexCard.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>ポートフォリオ</h1>
      <ul class="flex list-none pl-0">
        <IndexCard
          name="カクテル検索・AI生成ウェブアプリ"
          img="/screenshot-yourmix.avif"
          url_public="https://yourmix.hndyu.workers.dev/"
          url_github="https://github.com/hndyu/yourmix"
          url_blog="/blog/2025-9-30-publish-yourmix/"
        />
        <IndexCard
          name="新規ビジネスのLP"
          img="/screenshot-retirement-consulting-lp.avif"
          url_public="https://retirement-consulting-lp.netlify.app/"
          url_github="https://github.com/hndyu/retirement-consulting-lp"
          url_blog="/blog/2025-9-18-publish-retirement-consulting-lp/"
        />
        <IndexCard
          name="公共職業訓練校での制作実績まとめ"
          img="/2025-10-8-publish-school-work-hero-image.avif"
          url_blog="/blog/2025-10-8-publish-school-work/"
        />
      </ul>
      <Footer />
    </main>
  </body>
</html>
