---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IndexCard from "../components/IndexCard.astro";
import screenshotYourmix from "../images/screenshot-yourmix.avif";
import screenshotRetirement from "../images/screenshot-retirement-consulting-lp.avif";
import schoolWorkHero from "../images/publish-school-work/hero-image.avif";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>ポートフォリオ</h1>
      <ul class="grid list-none grid-cols-1 pl-0 md:grid-cols-2">
        <IndexCard
          name="カクテル検索・AI生成ウェブアプリ"
          img={screenshotYourmix}
          url_public="https://yourmix.hndyu.workers.dev/"
          url_github="https://github.com/hndyu/yourmix"
          url_blog="/blog/2025-9-30-publish-yourmix/"
        />
      </ul>
      <Footer />
    </main>
  </body>
</html>
